/** Background color for the pregame screen */
.bgColor {
	-fx-background-color:  rgba(33, 0, 127, .8); 
}

.horizontalSpacer {
	-fx-min-width:0px;
	-fx-max-width:10000px;
	-fx-pref-width:10000px;	
}

.sepSpacer {
	-fx-min-width:0px;
	-fx-max-width:50px;
	-fx-pref-width:50px;	
}
